# SPDX-FileCopyrightText: 2020 Dimitris Kardarakos <dimkard@posteo.net>
#
# SPDX-License-Identifier: BSD-2-Clause
[Desktop Entry]
Name=Kongress
Name[ar]=كونغرس
Name[ast]=Kongress
Name[ca]=Kongress
Name[ca@valencia]=Kongress
Name[cs]=Kongress
Name[da]=Kongress
Name[de]=Kongress
Name[el]=Kongress
Name[en_GB]=Kongress
Name[eo]=Kongress
Name[es]=Kongress
Name[et]=Kongress
Name[eu]=Kongress
Name[fi]=Kongress
Name[fr]=Kongress
Name[gl]=Kongress
Name[he]=קונגרס
Name[ia]=Kongress
Name[it]=Kongress
Name[ka]=Kongress
Name[ko]=Kongress
Name[lv]=Kongress
Name[nl]=Kongress
Name[nn]=Kongress
Name[pa]=ਕੌਂਗਰਸ
Name[pl]=Kongress
Name[pt]=Kongress
Name[pt_BR]=Kongress
Name[ru]=Kongress
Name[sa]=काङ्ग्रेस
Name[sk]=Kongress
Name[sl]=Kongress
Name[sv]=Kongress
Name[tr]=Kongre
Name[uk]=Kongress
Name[x-test]=xxKongressxx
Name[zh_CN]=Kongress
Name[zh_TW]=Kongress
GenericName=Conference Companion
GenericName[ar]=رفيق المؤتمر
GenericName[ca]=Auxiliar de congressos
GenericName[ca@valencia]=Auxiliar de congressos
GenericName[cs]=Pomocník pro konference
GenericName[de]=Konferenzbegleitanwendung
GenericName[el]=Συνοδοιπόρος διασκέψεων
GenericName[en_GB]=Conference Companion
GenericName[eo]=Konferenca Akompananto
GenericName[es]=Conference Companion
GenericName[eu]=Konferentzia laguntzailea
GenericName[fi]=Konferenssikumppani
GenericName[fr]=Logiciel Companion pour les conférences
GenericName[gl]=Acompañante para conferencias
GenericName[he]=מלווה לכנסים
GenericName[ia]=Companion de conferentia
GenericName[it]=Supporto per le conferenze
GenericName[ka]=კონფერენციის პარტნიორი
GenericName[ko]=컨퍼런스 도우미
GenericName[lv]=Konferences kompanjons
GenericName[nl]=Compagnon van Conference
GenericName[nn]=Konferanse­assistent
GenericName[pa]=ਕਨਫਰੰਸ ਸਹਾਇਕ
GenericName[pl]=Program do spotkań
GenericName[pt]=Assistente de Conferências
GenericName[pt_BR]=Assistente de conferências
GenericName[ru]=Приложение-помощник для конференций
GenericName[sa]=सम्मेलन सहचर
GenericName[sl]=Pomočnik konference
GenericName[sv]=Konferenskompanjon
GenericName[tr]=Konferans Yardımcısı
GenericName[uk]=Компаньйон для конференцій
GenericName[x-test]=xxConference Companionxx
GenericName[zh_CN]=会议助理应用
GenericName[zh_TW]=研討會小幫手
Comment=Companion application for conferences made by KDE
Comment[ar]=تطبيق مرافق للمؤتمرات أنشئ بواسطة كيدي
Comment[ca]=Aplicació auxiliar per als congressos fets per KDE
Comment[ca@valencia]=Aplicació auxiliar per als congressos fets per KDE
Comment[de]=Begleitanwendung für Konferenzen von KDE
Comment[el]=Βοηθητική εφαρμογή για διασκέψεις από το KDE
Comment[en_GB]=Companion application for conferences made by KDE
Comment[eo]=Akompana peto por konferencoj faritaj de KDE
Comment[es]=Aplicación complementaria para conferencias creada por KDE
Comment[eu]=KDEk konferentzietarako egindako aplikazio laguntzailea
Comment[fi]=KDE:n tekemä konferenssikumppanisovellus
Comment[fr]=Companion, une application pour les conférences organisées par KDE
Comment[gl]=Aplicación de acompañamento para conferencias organizadas por KDE.
Comment[he]=יישום מלווה לכנסים שנוצר על ידי KDE
Comment[ia]=Application cmpanion per conferentias facite per KDE
Comment[it]=Applicazione di supporto per le conferenze realizzata da KDE
Comment[ka]=პარტნიორი აპლიკაცია კონფერენციებისთვის, KDE-სგან
Comment[ko]=KDE에서 제작한 컨퍼런스 도우미
Comment[lv]=KDE izveidots konferenču kompanjons
Comment[nl]=Compagnon-toepassing voor conferenties gemaakt door KDE
Comment[nn]=Companion er ein konferanse­assistent frå KDE
Comment[pa]=ਕੇਡੀਈ ਵਲੋਂ ਕਨਫਰੰਸਾਂ ਲਈ ਬਣਾਈ ਗਈ ਸਹਾਇਕ ਐਪਲੀਕੇਸ਼ਨ
Comment[pl]=Program do spotkań stworzony w ramach KDE
Comment[pt]=Aplicação acessória para conferências feita pelo KDE
Comment[pt_BR]=Aplicativo assistente de conferências feitos pela KDE
Comment[ru]=Приложение-помощник для конференций, созданное KDE
Comment[sa]=KDE द्वारा निर्मितसम्मेलनानां कृते सहचरः आवेदनम्
Comment[sl]=Aplikacija pomočnika za konference, ki jih organizira KDE
Comment[sv]=Kompanjonprogram för konferenser gjort av KDE
Comment[tr]=KDE tarafından yapılan konferanslar için bir yardımcı uygulama
Comment[uk]=Програма-компаньйон для конференцій, яку створено KDE
Comment[x-test]=xxCompanion application for conferences made by KDExx
Comment[zh_CN]=KDE 开发的会议助理应用
Comment[zh_TW]=KDE 所做的研討會小幫手應用程式
Exec=kongress
Icon=org.kde.kongress
Type=Application
Terminal=false
Categories=Qt;KDE;Office;
