[Desktop Entry]
Name=KDE Conference Companion
Comment=KDE Conference Companion
Exec=kongress
MimeType=application/x-kongress;
Icon=kongress
Type=Application
Terminal=false
Categories=Qt;KDE;Office;
