[Desktop Entry]
Name=Kongress
Name[ca]=Kongress
Name[ca@valencia]=Kongress
Name[cs]=Kongress
Name[en_GB]=Kongress
Name[es]=Kongress
Name[et]=Kongress
Name[fr]=Kongress
Name[gl]=Kongress
Name[ia]=Kongress
Name[it]=Kongress
Name[ko]=Kongress
Name[nl]=Kongress
Name[nn]=Kongress
Name[pt]=Kongress
Name[ru]=Kongress
Name[sk]=Kongress
Name[sl]=Kongress
Name[sv]=Kongress
Name[uk]=Kongress
Name[x-test]=xxKongressxx
Name[zh_TW]=Kongress
Comment=KDE Conference Companion
Comment[ca]=Auxiliar per als congressos del KDE
Comment[ca@valencia]=Auxiliar per als congressos del KDE
Comment[en_GB]=KDE Conference Companion
Comment[es]=KDE Conference Companion
Comment[et]=KDE konverentsiabiline
Comment[fr]=Compagnon de KDE Conference
Comment[gl]=Acompañante para conferencias de KDE
Comment[ia]=Companion de conferentia de  KDE
Comment[it]=Supporto per KDE Conference
Comment[ko]=KDE 콘퍼런스 도우미
Comment[nl]=Compagnon van KDE Conference
Comment[nn]=Konferanse­assistent frå KDE
Comment[pt]=Assistente do KDE Conference
Comment[sl]=Pomočnik KDE konference
Comment[sv]=KDE konferenskompanjon
Comment[uk]=KDE-компаньйон для конференцій
Comment[x-test]=xxKDE Conference Companionxx
Exec=kongress
Icon=kongress
Type=Application
Terminal=false
Categories=Qt;KDE;Office;
