[Desktop Entry]
Name=KDE Conference Companion
Comment=KDE Conference Companion
Exec=kdefosdem
MimeType=application/x-kdefosdem;
Icon=kdefosdem
Type=Application
Terminal=false
Categories=Qt;KDE;Office;
