# SPDX-FileCopyrightText: 2020 Dimitris Kardarakos <dimkard@posteo.net>
#
# SPDX-License-Identifier: BSD-2-Clause

[Desktop Entry]
Name=Kongress Reminder Client
Name[ca]=Client de recordatori Kongress
Name[ca@valencia]=Client de recordatori Kongress
Name[da]=Påmindelsesklient til Kongress
Name[de]=Kongress-Erinnerungsprogramm
Name[el]=Πελάτης υπενθυμίσεων Kongress
Name[en_GB]=Kongress Reminder Client
Name[eo]=Kongress Rememoriga Kliento
Name[es]=Cliente de recordatorios de Kongress
Name[et]=Kongressi meeldetuletuste klient
Name[eu]=«Kongress» oroigarri bezeroa
Name[fi]=Kongressin muistutusasiakas
Name[fr]=Client de rappel Kongress
Name[gl]=Cliente de lembranzas de Kongress
Name[he]=לקוח תזכורות של קונגרס
Name[ia]=Cliente pro rememoration Kongress
Name[it]=Client per i promemoria Kongress
Name[ka]=Kongress შემხსენებელი კლიენტი
Name[ko]=Kongress 알림 클라이언트
Name[lv]=„Kongress“ atgādinājumu klients
Name[nl]=Kongress-client voor herinnering
Name[nn]=Kongress påminnings­klient
Name[pa]=ਕੌਂਗਰਸ ਰਿਮਾਈਂਡਰ ਕਲਾਈਂਟ
Name[pl]=Program do przypominania Kongresu
Name[pt]=Cliente de Chamadas de Atenção do Kongress
Name[pt_BR]=Cliente de lembretes do Kongress
Name[ru]=Клиент напоминаний Kongress
Name[sl]=Odjemalec opomnikov za Kongress
Name[sv]=Kongress påminnelseklient
Name[tr]=Kongre Anımsatıcı İstemcisi
Name[uk]=Клієнт нагадувань Kongress
Name[x-test]=xxKongress Reminder Clientxx
Name[zh_CN]=Kongress 提醒客户端
Name[zh_TW]=Kongress 提醒用戶端
Exec=kongressac
Icon=org.kde.kongress
Type=Application
Categories=Qt;KDE;
GenericName=Kongress Reminder Client
GenericName[ca]=Client de recordatori Kongress
GenericName[ca@valencia]=Client de recordatori Kongress
GenericName[da]=Påmindelsesklient til Kongress
GenericName[de]=Kongress-Erinnerungsprogramm
GenericName[el]=Πελάτης υπενθυμίσεων Kongress
GenericName[en_GB]=Kongress Reminder Client
GenericName[eo]=Kongress Rememoriga Kliento
GenericName[es]=Cliente de recordatorios de Kongress
GenericName[et]=Kongressi meeldetuletuste klient
GenericName[eu]=«Kongress» oroigarri bezeroa
GenericName[fi]=Kongressin muistutusasiakas
GenericName[fr]=Client de rappel Kongress
GenericName[gl]=Cliente de lembranzas de Kongress
GenericName[he]=לקוח תזכורות של קונגרס
GenericName[ia]=Cliente pro rememoration Kongress
GenericName[it]=Client per i promemoria Kongress
GenericName[ka]=Kongress შემხსენებელი კლიენტი
GenericName[ko]=Kongress 알림 클라이언트
GenericName[lv]=„Kongress“ atgādinājumu klients
GenericName[nl]=Kongress-client voor herinnering
GenericName[nn]=Kongress påminnings­klient
GenericName[pa]=ਕੌਂਗਰਸ ਰਿਮਾਈਂਡਰ ਕਲਾਈਂਟ
GenericName[pl]=Program do przypominania Kongresu
GenericName[pt]=Cliente de Chamadas de Atenção do Kongress
GenericName[pt_BR]=Cliente de lembretes do Kongress
GenericName[ru]=Клиент напоминаний Kongress
GenericName[sl]=Odjemalec opomnikov za Kongress
GenericName[sv]=Kongress påminnelseklient
GenericName[tr]=Kongre Anımsatıcı İstemcisi
GenericName[uk]=Клієнт нагадувань Kongress
GenericName[x-test]=xxKongress Reminder Clientxx
GenericName[zh_CN]=Kongress 提醒客户端
GenericName[zh_TW]=Kongress 提醒用戶端
Terminal=false
X-DBUS-StartupType=Unique
