# SPDX-FileCopyrightText: 2020 Dimitris Kardarakos <dimkard@posteo.net>
#
# SPDX-License-Identifier: BSD-2-Clause

[Desktop Entry]
Name=Kongress Reminder Client
Name[ca]=Client de recordatori Kongress
Name[ca@valencia]=Client de recordatori Kongress
Name[da]=Påmindelsesklient til Kongress
Name[de]=Kongress-Erinnerungsprogramm
Name[el]=Πελάτης υπενθυμίσεων Kongress
Name[en_GB]=Kongress Reminder Client
Name[es]=Cliente de recordatorios de Kongress
Name[et]=Kongressi meeldetuletuste klient
Name[fi]=Kongressin muistutusasiakas
Name[fr]=Client de rappel Kongress
Name[gl]=Cliente de lembranzas de Kongress
Name[ia]=Cliente pro rememoration Kongress
Name[it]=Client per i promemoria Kongress
Name[ko]=Kongress 알림 클라이언트
Name[nl]=Kongress-client voor herinnering
Name[nn]=Kongress påminnings­klient
Name[pt]=Cliente de Chamadas de Atenção do Kongress
Name[pt_BR]=Cliente de lembretes do Kongress
Name[sl]=Odjemalec opomnika za kongres
Name[sv]=Kongress påminnelseklient
Name[uk]=Клієнт нагадувань Kongress
Name[x-test]=xxKongress Reminder Clientxx
Name[zh_TW]=Kongress 提示用戶端
Exec=kongressac
Icon=org.kde.kongress
Type=Application
Categories=Qt;KDE;
GenericName=Kongress Reminder Client
GenericName[ca]=Client de recordatori Kongress
GenericName[ca@valencia]=Client de recordatori Kongress
GenericName[da]=Påmindelsesklient til Kongress
GenericName[de]=Kongress-Erinnerungsprogramm
GenericName[el]=Πελάτης υπενθυμίσεων Kongress
GenericName[en_GB]=Kongress Reminder Client
GenericName[es]=Cliente de recordatorios de Kongress
GenericName[et]=Kongressi meeldetuletuste klient
GenericName[fi]=Kongressin muistutusasiakas
GenericName[fr]=Client de rappel Kongress
GenericName[gl]=Cliente de lembranzas de Kongress
GenericName[ia]=Cliente pro rememoration Kongress
GenericName[it]=Client per i promemoria Kongress
GenericName[ko]=Kongress 알림 클라이언트
GenericName[nl]=Kongress-client voor herinnering
GenericName[nn]=Kongress påminnings­klient
GenericName[pt]=Cliente de Chamadas de Atenção do Kongress
GenericName[pt_BR]=Cliente de lembretes do Kongress
GenericName[sl]=Odjemalec opomnika za kongres
GenericName[sv]=Kongress påminnelseklient
GenericName[uk]=Клієнт нагадувань Kongress
GenericName[x-test]=xxKongress Reminder Clientxx
GenericName[zh_TW]=Kongress 提示用戶端
Terminal=false
X-DBUS-StartupType=Unique
